<h1>User Registration Page</h1>
<div>
<form [formGroup]="regForm" (ngSubmit)="regUser()">
  <label for="firstName"><b>First Name</b></label><br>
  <input type="text" id="inputFirstname" formControlName="fname" placeholder="Enter first name"><br>
  <span id="errorFirstname">Invalid name</span>
  <br><br>
  
  <label for="gender"><b>Gender</b></label><br>
  <input type="checkbox" id="gender" formControlName="gender" name="male" value="Male">
  <label for="male">Male</label><br>
  <input type="checkbox" id="gender" formControlName="gender" name="female" value="Female">
  <label for="female">Female</label><br>
  <span id="errorGender">Gender is required</span>
  <br><br>

  <label for="country"><b>Country of origin</b></label><br>
  <input type="text" id="country" formControlName="country" placeholder="Enter country name"><br>
  <span id="errorCountry">Country is required</span>
  <br><br>

  <label for="city"><b>City of origin</b></label><br>
  <input type="text" id="city" formControlName="city" placeholder="Enter city name"><br>
  <span id="errorCity">City is required</span>
  <br><br>

  <label for="age"><b>Age</b></label><br>
  <input type="text" id="inputAge" formControlName="age" placeholder="Enter age"><br>
  <span id="errorAge">Age is required</span>
  <br><br>

  <input type="submit" id="submit" value="Submit">
</form>
</div>